<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guilherme Brito</title>
</head>
{% include "/layout/scripts.html" %}
<body>
{% include "/layout/header.html" %}
<div name="aleatoriedade">
    <h1>Aleatoridades</h1>
    <h6><p>Linguiça</p></h6>
    <p>Aqui estão algumas idéias aleatorias feita com intuito de treinar programação:</p>
    <ul>
        <li><a href="/pokemon"> Pokedex</a></li>
        <li><a href="/passgen">Gerador de senha</a></li>
         <li><a href="/guess-game">Forca(em desenvolvimento)</a></li>
    </ul>
</div>
</body>
</html>