<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>PokeSearch</title>
</head>
{% include "/layout/scripts.html" %}
<body>
{% include "/layout/header.html" %}

<h1>Pesquisar pokemon</h1>

<img {{image}} width="200px" height="200px" >

<p><b>Nome: {{ poke|title }}</b></p>
<p><b>Numero: {{ numero }}</b></p>
<p><b>Tipo: {{ tipo|join(', ')}}</b></p>
<form method="post" action="/pokemon">
    <p>Nome ou Numero: <input id="poke" name="poke" placeholder="Ex:Hitmontop or 237 "></p>
    <p>
        <button class="btn btn-info btn-sm" type="submit"> Pesquisar</button>
    </p>
</form>

</body>
</html>